<table class="table table-striped">
    <thead>
      <tr>
        <th>State/UT</th>
        <th>Confirmed</th>
        <th>Active</th>
        <th>Recovered</th>
        <th>Deceased</th>
      </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-state [ngForOf]="states" let-i="index">
      <tr >
        
        <td class="td-box">
            <span class="downdrop-toggle" [ngClass]="state.rotateClass ? '.rotate-down' : 'rotate-right'" (click)="onDistrictClick(i)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
              </span>
          {{state.state}}
        </td>
        <td>{{state.confirmed}}</td>
        <td>{{state.active}}</td>
        <td>{{state.recovered}}</td>
        <td>{{state.deaths}}</td>
        
      </tr>
      <tr *ngIf="state.showToggle" class="district-{{i}}">
        <td colspan="5">
            <app-district-table [districts]="state.district"></app-district-table>
        </td>
         
      </tr>
        </ng-template>

      
    </tbody>
  </table>

  