<div class="container-fluid main"> <!-- container start-->

  <div class="row no-gutters"> <!-- first row start-->
  
  <div class="col-3">
  
  </div>
  
  <div class="col-6 d-flex justify-content-center align-items-center">

  
     <app-case-indicator class="indicators"></app-case-indicator>
  
  
  </div>
  
  <div class="col-3">
  
  </div>
  
  </div> <!-- first row end -->
  
  <div class="row no-gutters"> <!--second row start-->
  
    <div class="col-3"></div>
  
    <div class="col-6 d-flex justify-content-center align-items-center">
      <app-state-table></app-state-table>
    </div>
  
    <div class="col-3"></div>
  
  </div> <!--second row end-->
  
  <div class="row no-gutters">
  
    <div class="col-3"></div>
  
    <div class="col-6">
      <h1 style="text-align: center;">Spread Trends</h1>
      <div class="mg-1 btn-group">
        <div class="btn-box">
          <button type="button" class="btn btn-secondary btng" routerLink="/cumulative-chart">Cumulative</button>
        </div>
        <div class="btn-box">
          <button type="button" class="btn btn-secondary btng" routerLink="/daily-chart">Daily</button>
        </div>
      </div>

    <router-outlet></router-outlet>
    <!--<app-daily-chart></app-daily-chart>-->
  
    </div>
  
    <div class="col-3"></div>
  
  </div>
  
  </div> <!-- container end-->