<div class="container-fluid main"> <!-- container start-->

  <div class="row no-gutters"> <!-- first row start-->
  
  <div class="col-3">
  
  </div>
  
  <div class="col-6 d-flex justify-content-center align-items-center">

  
     <app-case-indicator class="indicators"></app-case-indicator>
  
  
  </div>
  
  <div class="col-3">
  
  </div>
  
  </div> <!-- first row end -->
  
  <div class="row no-gutters"> <!--second row start-->
  
    <div class="col-3"></div>
  
    <div class="col-6 d-flex justify-content-center align-items-center">
      <app-state-table></app-state-table>
    </div>
  
    <div class="col-3"></div>
  
  </div> <!--second row end-->
  
  <div class="row no-gutters">
  
    <div class="col-3"></div>
  
    <div class="col-6">
      <h1 style="text-align: center;">Spread Trends</h1>
      <div class="mg-1 btn-group">
        <div class="btn-box">
          <button type="button" class="btn btn-secondary btng">Cumulative</button>
        </div>
        <div class="btn-box">
          <button type="button" class="btn btn-secondary btng">Daily</button>
        </div>
      </div>
      <div class="mg-1">
        <select class="custom-select drop-select">
          <option>Maharashtra</option>
          <option>Gujarat</option>
          <option>Delhi</option>
        </select>
      </div>
  
      <div class="mg-1">
        <div class="charts">
          <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartTYpe"
          ></canvas>
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barLineChart">
        </canvas>
        </div>
      </div>
  
    </div>
  
    <div class="col-3"></div>
  
  </div>
  
  </div> <!-- container end-->