

    <div class="indicator red">
        <h5>Confirmed</h5>
        <h4>[+{{deltaConfirm}}]</h4>
        <h1>{{confirmed}}</h1>
        <div class="graph">
            <canvas width="100" height="75" baseChart
            [datasets]="confirmedChartData"
            [labels]="dates"
            [options]="ChartOptions"
            [legend]="ChartLegend"
            [chartType]="ChartType"
            ></canvas>
        </div>
  </div>

  <div class="indicator blue">
    <h5>Active</h5>
    <h4>[ ]</h4>
    <h1>{{active}}</h1>
    <div class="graph">
      <canvas width="100" height="75" baseChart
            [datasets]="activeChartData"
            [labels]="dates"
            [options]="ChartOptions"
            [legend]="ChartLegend"
            [chartType]="ChartType"
            ></canvas>
    </div>
  </div>

  <div class="indicator green">
    <h5>Recovered</h5>
    <h4>[+{{deltaRecovery}}]</h4>
    <h1>{{recovered}}</h1>
    <div class="graph">
      <canvas width="100" height="75" baseChart
      [datasets]="recoveredChartData"
      [labels]="dates"
      [options]="ChartOptions"
      [legend]="ChartLegend"
      [chartType]="ChartType"
      ></canvas>
    </div>
  </div>

  <div class="indicator black">
    <h5>Deceased</h5>
    <h4>[+{{deltaDeaths}}]</h4>
    <h1>{{deaths}}</h1>
    <div class="graph">
      <canvas width="100" height="75" baseChart
      [datasets]="deceasedChartData"
      [labels]="dates"
      [options]="ChartOptions"
      [legend]="ChartLegend"
      [chartType]="ChartType"
      ></canvas>
    </div>
  </div>